[Desktop Entry]
Version=1.0
Type=Application
Name=Soplos System Services
Name[de]=Soplos Systemdienste
Name[es]=Servicios del sistema Soplos
Name[fr]=Services systeme Soplos
Name[it]=Servizi di sistema Soplos
Name[pt]=Servicos do sistema Soplos
Name[ro]=Servicii de sistem Soplos
Name[ru]=Системные службы Soplos
Comment=Manage systemd services on Soplos Linux
Comment[de]=Systemd-Dienste unter Soplos Linux verwalten
Comment[es]=Gestiona los servicios systemd en Soplos Linux
Comment[fr]=Gerer les services systemd sous Soplos Linux
Comment[it]=Gestisci i servizi systemd su Soplos Linux
Comment[pt]=Gerir os servicos systemd no Soplos Linux
Comment[ro]=Gestionati serviciile systemd pe Soplos Linux
Comment[ru]=Управление службами systemd в Soplos Linux
GenericName=System Services Manager
GenericName[de]=Systemdienste-Manager
GenericName[es]=Gestor de servicios del sistema
GenericName[fr]=Gestionnaire de services systeme
GenericName[it]=Gestore dei servizi di sistema
GenericName[pt]=Gestor de servicos do sistema
GenericName[ro]=Manager de servicii de sistem
GenericName[ru]=Диспетчер системных служб
Keywords=systemd;services;system;soplos;
Keywords[es]=systemd;servicios;sistema;soplos;
Exec=soplos-system-services
Icon=org.soplos.systemservice
Categories=System;Settings;
StartupNotify=true
StartupWMClass=org.soplos.systemservice
Terminal=false
